﻿
@{
    ViewBag.Titulo = "Error";
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
}

<body>
    <div class="container text-center">

            <h2 class="page-header">@ViewBag.Title</h2>
            <p>@ViewBag.DescripcionError</p>

        <br /><br /><br /><br /><br />

        <img src="~/Img/logo-ppal-b.png" />
    </div>
</body>
