﻿@using Entidades_VM;
@model RedireccionUsuario_VM
@{
    ViewBag.Titulo = "Ingreso";
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
}


<div class="container text-center">

    <form class="inicio" action="/Home/Ingresar" method="post">
        <input hidden name="Controlador" value="@Model.Controlador" />
        <input hidden name="Accion" value="@Model.Accion" />
        <div class="recuadro">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })<br />
            @Html.PasswordFor(p => p.Password, new { placeholder = "Contraseña" })<br />

            @ViewBag.error<br />

            <button class="btn btn-primary btn-primary ingresar" type="submit">Ingresar</button>
        </div>
    </form><br /><br /><br /><br /><br />

    <img src="~/Img/logo-ppal-b.png" />
</div>