﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Titulo</title>
    @*@RenderSection("HeadScripts", false)*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    @RenderSection("Encabezado", false)

    @RenderBody()

    @{Html.RenderPartial("~/Views/Shared/pv_Footer.cshtml");}
</body>
</html>
