﻿<container class="fixed-bottom border border-bottom-0 border-left-0 border-right-0 border-dark bg-secondary text-white">
    <div class="mx-auto p-2" style="width: fit-content">PW3 - 2020 - 2º Cuatrimestre</div>
    <div class="mx-auto p-2" style="width: fit-content">Grupo FVZ:  Fortunato Juan Pablo - Vazquez Claudio - Zota Alejo</div>
</container>
